[submodule "Mods/Cryptid"]
	path = Mods/Cryptid
	url = https://github.com/MathIsFun0/Cryptid/
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/Dimserene/Talisman
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/NotJustYet"]
	path = Mods/NotJustYet
	url = https://github.com/Toneblock/balatro-NotJustYet
[submodule "Mods/MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro/
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/Dimserene/Fusion-Jokers/
[submodule "Mods/BetterIllusion"]
	path = Mods/BetterIllusion
	url = https://github.com/rileyinman/BetterIllusion
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus/
[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/JokerSellValue"]
	path = Mods/JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue/
[submodule "Mods/Jeantoine"]
	path = Mods/Jeantoine
	url = https://github.com/Kaishi130/Jeantoine
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/Betmma_mods"]
	path = Mods/Betmma_mods
	url = https://github.com/betmma/my_balatro_mods
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/HandPreview"]
	path = Mods/HandPreview
	url = https://github.com/lshtech/Balatro-HandPreview
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/The-World-Ends-With-Jimbo"]
	path = Mods/The-World-Ends-With-Jimbo
	url = https://github.com/Dimserene/The-World-Ends-With-Jimbo
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/Oiiman-s-Additions"]
	path = Mods/Oiiman-s-Additions
	url = https://github.com/Dimserene/Oiiman-s-Additions
[submodule "Mods/Potatro"]
	path = Mods/Potatro
	url = https://github.com/balt-dev/potatro/
[submodule "Mods/BlackSeal"]
	path = Mods/BlackSeal
	url = https://github.com/lshtech/BlackSeal
[submodule "Mods/Multipack"]
	path = Mods/Multipack
	url = https://github.com/snowylight/Multipack
[submodule "Mods/Aure-Spectral"]
	path = Mods/Aure-Spectral
	url = https://github.com/SDM0/Aure-Spectral
